<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numPages</key>
	<string>10</string>
	<key>Next</key>
	<string>Next(C)</string>
	<key>top1</key>
	<string>这个游戏的目的，</string>
	<key>middle1</key>
	<string>是点亮电路里所有的灯泡。</string>
	<key>bottom1</key>
	<string></string>
	<key>top2</key>
	<string>点一下电池，</string>
	<key>middle2</key>
	<string>你可以给电路通电。</string>
	<key>bottom2</key>
	<string></string>
	<key>top3</key>
	<string>如果电路没有接通，</string>
	<key>middle3</key>
	<string>小灯泡就不会被点亮。</string>
	<key>bottom3</key>
	<string></string>
	<key>top4</key>
	<string>为了连接小灯泡，</string>
	<key>middle4</key>
	<string>我们需要变换开关的位置。</string>
	<key>bottom4</key>
	<string></string>
	<key>top5</key>
	<string>在橙色的线上面滑动，</string>
	<key>middle5</key>
	<string>来控制开关的连接。</string>
	<key>bottom5</key>
	<string></string>
	<key>top6</key>
	<string>如果我们点一下电池，</string>
	<key>middle6</key>
	<string>我们可以发现灯泡只有一端连上了电池。</string>
	<key>bottom6</key>
	<string></string>
	<key>top7</key>
	<string>为了让灯泡点亮，</string>
	<key>middle7</key>
	<string>我们还需要连接另外一边。</string>
	<key>bottom7</key>
	<string></string>
	<key>top8</key>
	<string>我们可以通过滑动开关的位置来连接另一边。</string>
	<key>middle8</key>
	<string></string>
	<key>bottom8</key>
	<string></string>
	<key>top9</key>
	<string>现在灯泡的两边都连上了电池，它就会被点亮。</string>
	<key>middle9</key>
	<string></string>
	<key>bottom9</key>
	<string></string>
	<key>top10</key>
	<string>为了让电流流通，</string>
	<key>middle10</key>
	<string>我们还要确保电池的两端互相连接。</string>
	<key>bottom10</key>
	<string></string>
	<key>top11</key>
	<string>Here we have a circuit</string>
	<key>middle11</key>
	<string>that looks a little bit different</string>
	<key>bottom11</key>
	<string></string>
	<key>top12</key>
	<string>Lets try to connect the switch</string>
	<key>middle12</key>
	<string>and see what happens</string>
	<key>bottom12</key>
	<string></string>
	<key>top13</key>
	<string>Tap the battery to turn it on</string>
	<key>middle13</key>
	<string></string>
	<key>bottom13</key>
	<string></string>
	<key>top14</key>
	<string>And it explodes! Notice that the light </string>
	<key>middle14</key>
	<string>turned on because there is a path of </string>
	<key>bottom14</key>
	<string>wires connecting it to the battery. So what happened?</string>
	<key>top15</key>
	<string>There is also a connection path in the circuit</string>
	<key>middle15</key>
	<string>with no lightbulb. When the battery is</string>
	<key>bottom15</key>
	<string>connected to itself without anything to power up, BOOM!</string>
	<key>top16</key>
	<string>Let&apos;s connect the circuit like this so that</string>
	<key>middle16</key>
	<string>there are noempty paths to the battery.</string>
	<key>bottom16</key>
	<string>Here we see the bulb lights up fine and we have completed the circuit!</string>
	<key>top17</key>
	<string>The path through the</string>
	<key>middle17</key>
	<string>light bulb is connected</string>
	<key>bottom17</key>
	<string></string>
	<key>top18</key>
	<string>And the path without a lightbulb</string>
	<key>middle18</key>
	<string>is not connected and</string>
	<key>bottom18</key>
	<string>there is no &apos;short&apos; circuit</string>
</dict>
</plist>
