<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelTitle</key>
	<string>Start New Game</string>
	<key>aboutTitle</key>
	<string>How To Play</string>
	<key>helpTitle</key>
	<string>How To Play</string>
	<key>helpMessage</key>
	<string>Connect the circuit and power up all the light bulbs! Drag your finger over the switches to make connections and touch the battery to turn the power on.</string>
</dict>
</plist>
